<html>
<head>
       <title>Django Girls blog</title>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
       <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   </head>
   <body>
     <h1> My Blog</h1>
     <button onclick="myFunction()">Try it</button>

<script>
function myFunction() {
   alert("I am an alert box!");
}
</script>
   </body>
   </html>
